.wrapper {
    width: 960px;
    margin: 0 auto;
}

table {
    width: 100%;
    table-layout: fixed;
    text-alignment: center;
}


button {
    margin-right: 20px;
}

button:first-child {
    margin-left: 80px;
}


input[type="submit"]{
    margin-bottom: 50px;
}